{% extends "base.html" %}

{% block title %}{{basename(fn)}}{% endblock %}

{% block scripts %}
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/link_width.js') }}"></script>
{% endblock %}

{% block content %}
        <table>
        {% for e in archive.fnlist %}
        {% if g.config.getboolean('thumbnail_in_archive') %}
        <tr>
            <td>
                 <img src="{{url_for('.image', repo_id=repo_id, fhash=fhash, pid=loop.index0, width=480)}}">
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                <a class="imglink" id="{{e}}" href="{{url_for('.view', repo_id=repo_id, fhash=fhash, pid=loop.index0, page=page)}}">{{g.fix_up(e)}}</a>
            </td>
        </tr>
        {% endfor %}
        </table>
{% endblock %}

{% block navbar %}
<div align=center style=\"padding: 4px;\">
    <a id=up href="{{url_for('.subindex', repo_id=repo_id, _anchor=fhash, page=g.fhash2page(app, repo_id, fhash))}} ">Up</a>
</div>
{% endblock %}
