<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %} - Comic webviewer </title>
    {% endblock %}
  </head>
  {% block scripts %}{% endblock %}
  {% block styles %}{% endblock %}
  <body>
    {% for message in get_flashed_messages() %}
        {{ message | safe}}
    {% endfor %}
    <div id="navbar">{% block navbar %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
  </body>
</html>

