<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% block head %}
    <link rel="stylesheet" href="{%- if session.get('night', False) -%}
    {{ url_for('static', filename='css/night-style.css') }}
    {%- else -%}
    {{ url_for('static', filename='css/style.css') }}
    {%- endif -%}">
    <title>{% block title %}{% endblock %} - Comic webviewer </title>
    {% endblock %}
  </head>
  {% block scripts %}{% endblock %}
  {% block styles %}{% endblock %}
  <body>
    {% for message in get_flashed_messages() %}
        {{ message | safe}}
    {% endfor %}
    <div id="navbar">{% block navbar %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
  </body>
</html>

