{% extends "base.html" %}

{% block title %}Option for {{repo.dirname}} {% endblock %}

{% block content %}
	<form method=POST action={{url_for(".option", repo_id=repo_id)}}>
		<table>
			<tr>
				<td>Option</td>
				<td>Value</td>
			</tr>
			<tr>
				<td>Webp usage</td>
				<td><input type="checkbox" name=webp {{"checked" if config.getboolean("webp")}}></td>
			</tr>
			<tr>
				<td>Resize image</td>
				<td><input type="checkbox" name=resize {{"checked" if config.getboolean("resize")}}></td>
			</tr>
			<tr>
				<td>Webp quality</td>
				<td>
					<input name=webp_quality type=number value={{config.getint("webp_quality")}} {{"disabled" if not config.getboolean("webp")}}></input>
				</td>
			</tr>
			<tr>
				<td>Webp preset</td>
				<td>
					<select name=webp_preset {{"disabled" if not config.getboolean("webp")}}>
					  <option value="default" {{ "selected=selected" if config.get("webp_preset") == "default" }}>default</option>
					  <option value="photo" {{ "selected=selected" if config.get("webp_preset") == "photo" }}>photo</option>
					  <option value="picture" {{ "selected=selected" if config.get("webp_preset") == "picture" }}>picture</option>
					  <option value="drawing" {{ "selected=selected" if config.get("webp_preset") == "drawing" }}>drawing</option>
					  <option value="icon" {{ "selected=selected" if config.get("webp_preset") == "icon" }}>icon</option>
					  <option value="text" {{ "selected=selected" if config.get("webp_preset") == "text" }}>text</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Sorting order</td>
				<td>
					<select name=sort>
					  <option value="name" {{ "selected=selected" if config.get("sort") == "name" }}>name</option>
					  <option value="time" {{ "selected=selected" if config.get("sort") == "time" }}>time</option>
					  <option value="size" {{ "selected=selected" if config.get("sort") == "size" }}>size</option>
					  <option value="random" {{ "selected=selected" if config.get("sort") == "random" }}>random</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Reversed sort order</td>
				<td><input type="checkbox" name=reverse {{"checked" if config.getboolean("reverse")}}></td>
			</tr>
			<tr>
				<td>Image per page</td>
				<td><input name=img_per_page type=number value={{config.getint("img_per_page")}}></input></td>
			</tr>
			<tr>
				<td>Archive per page</td>
				<td><input name=archive_per_page type=number value={{config.getint("archive_per_page")}}></input></td>
			</tr>
			<tr>
				<td>Archive reversed sort order</td>
				<td><input type="checkbox" name=archive_reverse {{"checked" if config.getboolean("archive_reverse")}}></td>
			</tr>
			<tr>
				<td>Cache time</td>
				<td><input name=cache_time type=number value={{config.getint("cache_time")}}></input></td>
			</tr>
		</table>
		<input type=submit name=submit value="Apply change"></input>
	</form>
{% endblock %}

