{% extends "base.html" %}

{% block title %}Comic Webviewer{% endblock %}

{% block content %}
    <table>
    {% for k, v in archives[ARCHIVE].items() %}
        <tr>
            <td> <a id="{{k}}" href="{{url_for('.archive_', aid=aid, fhash=k, nowebp=nowebp)}}"><img src="{{url_for(".thumbnail", aid=aid, fhash=k, nowebp=nowebp)}}"></a> </td>
            <td> <a id="{{k}}" href="{{url_for('.archive_', aid=aid, fhash=k, nowebp=nowebp)}}">{{v['filename'] | strip_path}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block navbar %}
<nav class="navbar fixed-bottom">
    <div align=center style=\"padding: 4px;\"><a id=up href="{{url_for('.index', aid=aid, nowebp=nowebp)}} ">Up</a></div><p>
</div>
{% endblock %}
