{% extends "base.html" %}

{% block title %}{{basename(fn)}} - {{ar.fnlist[pid]}} - [{{pid+1}} / {{len(ar.fnlist)}}]{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" language="JavaScript">
function set_body_width() { // set body width = window width
    $('body').width($(window).width());
}
$(document).ready(function() {
    $(window).bind('resize', set_body_width);
    set_body_width();
});
function getDocHeight() {
var D = document;
return Math.max(
    D.body.scrollHeight, D.documentElement.scrollHeight,
    D.body.offsetHeight, D.documentElement.offsetHeight,
    D.body.clientHeight, D.documentElement.clientHeight
    );
}

var atBottom = false;

function jump_at_end(e) {
    if (atBottom) {
        window.location.href = '{{next_location}}';
    }
}

$(function() {
    $('html').keydown(function(e) {
        if (e.keyCode == 34 || e.keyCode == 32) {
            jump_at_end();
        }
    });
});

$(document).bind('click', function() {
    if (atBottom) { jump_at_end() }
    window.scrollBy(0, window.innerHeight*0.75);
});

window.onscroll = function() {
    atBottom = $(window).height() + Math.ceil($(window).scrollTop()) >= getDocHeight();
}

    </script>
{% endblock %}

{% block navbar %}
<div class="navbar top">
    <div align=center style=\"padding: 4px;\">
    {% if pid+1 != min(len(ar.fnlist), pid+step) %}
        {{pid+1}}-{{min(len(ar.fnlist), pid+step)}} / {{len(ar.fnlist)}}<br>
    {% else %}
        {{pid+1}} / {{len(ar.fnlist)}}<br>
    {% endif %}
    {% if pid > 0 %}
        <a id=prev href="{{url_for('view', aid=aid, pid=max(pid-step, 0), nowebp=nowebp)}}">Prev</a>
    {% endif %}
    <a id=up href="{{url_for('archive_', aid=aid, _anchor=aid, nowebp=nowebp)}}">Up</a>
    {% if pid+step < len(ar.fnlist) %}
        <a id=next href="{{url_for('view', aid=aid, pid=pid+step, nowebp=nowebp)}}">Next</a>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
    {% for i in range(step) %}
        {% if pid+i < len(ar.fnlist) %}
            <img src="{{url_for('image', aid=aid, pid=pid+i, nowebp=nowebp)}}" class="center fit">
        {% endif %}
    {% endfor %}
{% endblock %}
