{% extends "bootstrap/base.html" %}

{% block title %}{{basename(fn)}} - {{ar.fnlist[pid]}} - [{{pid+1}} / {{len(ar.fnlist)}}]{% endblock %}

{% block scripts %}
{{super()}}
    <script type="text/javascript" language="JavaScript">
function set_body_width() { // set body width = window width
    $('body').width($(window).width());
}
$(document).ready(function() {
    $(window).bind('resize', set_body_width);
    set_body_width();
});
function getDocHeight() {
var D = document;
return Math.max(
    D.body.scrollHeight, D.documentElement.scrollHeight,
    D.body.offsetHeight, D.documentElement.offsetHeight,
    D.body.clientHeight, D.documentElement.clientHeight
    );
}
$(function() {
    $('html').keydown(function(e) {
        if ($(window).scrollTop() + $(window).height() >= getDocHeight() - 1 && (e.keyCode == 34 || e.keyCode == 32)) {
            window.location.href = '{{next_location}}';
        }
    });
});
    </script>
{% endblock %}

{% block styles %}
{{super()}}
<style>
  * {
    padding: 0;
    margin: 0;
  }
  .fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
  }
  .center {
    display: block;
    margin: auto;
  }
</style>
{% endblock %}

{% block navbar %}
<div class="navbar top">
    <div align=center style=\"padding: 4px;\">{{pid+1}} / {{len(ar.fnlist)}}<br>
    {% if pid > 0 %}
        <a href="{{url_for('view', aid=aid, pid=pid-1)}}">Prev</a>
    {% endif %}
    <a href="{{url_for('archive_', aid=aid, _anchor=aid)}}">Up</a>
    {% if pid+1 < len(ar.fnlist) %}
        <a href="{{url_for('view', aid=aid, pid=pid+1)}}">Next</a>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
    {% if pid+1 < len(ar.fnlist) %}
    <img src="{{url_for('image', aid=aid, pid=pid)}}" class="center fit" onclick="window.location.href = '{{next_location}}';">
    {% else %}
    <img src="{{url_for('image', aid=aid, pid=pid)}}" class="center fit" onclick="window.location.href = '{{next_location}}';">
    {% endif %}
{% endblock %}
