{% extends "base.html" %}

{% block title %}{{basename(fn)}} - {{ar.fnlist[pid]}} - [{{pid+1}} / {{len(ar.fnlist)}}]{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" language="JavaScript">
function set_body_width() { // set body width = window width
    $('body').width($(window).width());
}
$(document).ready(function() {
    $(window).bind('resize', set_body_width);
    set_body_width();
});
function getDocHeight() {
var D = document;
return Math.max(
    D.body.scrollHeight, D.documentElement.scrollHeight,
    D.body.offsetHeight, D.documentElement.offsetHeight,
    D.body.clientHeight, D.documentElement.clientHeight
    );
}
$(function() {
    $('html').keydown(function(e) {
        if ($(window).scrollTop() + $(window).height() >= getDocHeight() - 1 && (e.keyCode == 34 || e.keyCode == 32)) {
            window.location.href = '{{next_location}}';
        }
    });
});
    </script>
{% endblock %}

{% block navbar %}
<div class="navbar top">
    <div align=center style=\"padding: 4px;\">{{pid+1}} / {{len(ar.fnlist)}}<br>
    {% if pid > 0 %}
        <a href="{{url_for('view', aid=aid, pid=pid-1, nowebp=nowebp)}}">Prev</a>
    {% endif %}
    <a href="{{url_for('archive_', aid=aid, _anchor=aid, nowebp=nowebp)}}">Up</a>
    {% if pid+1 < len(ar.fnlist) %}
        <a href="{{url_for('view', aid=aid, pid=pid+1, nowebp=nowebp)}}">Next</a>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
    {% if pid+1 < len(ar.fnlist) %}
    <img src="{{url_for('image', aid=aid, pid=pid, nowebp=nowebp)}}" class="center fit" onclick="window.location.href = '{{next_location}}';">
    {% else %}
    <img src="{{url_for('image', aid=aid, pid=pid, nowebp=nowebp)}}" class="center fit" onclick="window.location.href = '{{next_location}}';">
    {% endif %}
{% endblock %}
