{% extends "base.html" %}

{% block title %}{{basename(fn)}}{% endblock %}

{% block scripts %}
        <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
        <script type="text/javascript" language="JavaScript">
            $(document).ready(function() {
                width = $(window).width();
                height = $(window).height();
                // console.log('width ' + width + ' height ' + height);
                $('a.imglink').each(function(o) {
                    $(this).attr("href", $(this).attr("href") + '&width=' + Math.max(width, height));
                });
            });
        </script>
{% endblock %}

{% block content %}
        <h1>{{basename(fn)}}</h1>
        {% for pid, e in enumerate(archive.fnlist) %}
        <ul><a class="imglink" id="{{e}}" href="{{url_for('view', aid=aid, fhash=fhash, pid=pid, nowebp=nowebp)}}">{{e}}</a></ul>
        {% endfor %}
{% endblock %}

{% block navbar %}
<nav class="navbar fixed-bottom">
    <div align=center style=\"padding: 4px;\"><a id=up href="{{url_for('index', aid=aid, _anchor=fhash, nowebp=nowebp)}} ">Up</a></div><p>
</div>
{% endblock %}
